<%- include('./partials/header') -%>
<div class="container">
    <div class="main-container mt-4">
        <div class="posts-container col-md-9 col-sm-12">

            <div class="most-recent-post-container">
                <div class="new-post-image m-5" style="background-image: url(<%= posts[0].image %>);"></div>
                <div class="new-post-content">
                    <div class="latest-post p-2 mb-3 text-center">LATEST POST</div>
                    <div class="new-post-title mb-4"><h3><%= posts[0].title %></h3></div>
                    <div class="new-post-text mb-3"><%= posts[0].content %></div>
                    <div class="read-more mt-2 text-right"><a href="">Continue Reading</a></div>
                </div>
            </div>

            <div class="recent-posts mt-4">
                <div class="row justify-content-center">
                    <div class="col-8 text-center pink">
                        <h5 class="p-2">RECENTLY</h5>
                    </div>
                </div>

                <div class="row justify-content-around mb-4">
                    <% for(let i = 1; i < posts.length; i++) { %>
                        <div class="post-container mt-4">
                            <div class="post-image mt-3" style="background-image: url(<%= posts[i].image %>);"></div>
                            <div class="post-category text-center"><%= posts[i].category %></div>
                            <div class="post-discription">
                                <p class="p-3"><%= posts[i].content %></p>
                            </div>
                        </div>
                    <% }; %>
                </div>
            </div>
        </div>
        <div class="sidebar-container col d-none d-md-block">
            <div class="bio">
                <div class="bio-image"></div>
                <div class="col-6 name p-2 text-center">Macy Karl</div>
                <div class="bio-discription mt-3 p-2 text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
            </div>
            <div class="shopping-locations mt-3">
                <div class="shopping-title col-8 text-center p-2 mb-3"><h5>WHERE I SHOP</h5></div>
                <div class="shopping-list">
                        <ul class="text-center p-0">
                            <a href=""><li>Target</li></a>
                            <a href=""><li>Macys</li></a>
                            <a href=""><li>Louis Vuitton</li></a>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') -%>
