<%- include('../partials/header') -%>

<div class="container">
    <h1 class="mt-4">Lifestyle</h1>
    <div class="row">
        <% posts.forEach((post) => { %>
            <% if(post.category == 'lifestyle') { %>
                <div class="post-container mt-4 mr-3">
                    <div class="post-image mt-3" style="background-image: url(<%= post.image %>);"></div>
                    <div class="post-category text-center"><%= post.category.toUpperCase() %></div>
                    <div class="post-title text-center">
                        <h5 class="p-3"><%= post.title %></h5>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
    <h1 class="mt-4">Asia Expat</h1>
    <div class="row">
        <% posts.forEach((post) => { %>
            <% if(post.category == 'asia expat') { %>
                <div class="post-container mt-4 mr-3">
                    <div class="post-image mt-3" style="background-image: url(<%= post.image %>);"></div>
                    <div class="post-category text-center"><%= post.category.toUpperCase() %></div>
                    <div class="post-title text-center">
                        <h5 class="p-3"><%= post.title %></h5>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
    <h1 class="mt-4">Travel</h1>
    <div class="row">
        <% posts.forEach((post) => { %>
            <% if(post.category == 'travel') { %>
                <div class="post-container mt-4 mr-3">
                    <div class="post-image mt-3" style="background-image: url(<%= post.image %>);"></div>
                    <div class="post-category text-center"><%= post.category.toUpperCase() %></div>
                    <div class="post-title text-center">
                        <h5 class="p-3"><%= post.title %></h5>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
    <h1 class="mt-4">Style</h1>
    <div class="row">
        <% posts.forEach((post) => { %>
            <% if(post.category == 'style') { %>
                <div class="post-container mt-4 mr-3">
                    <div class="post-image mt-3" style="background-image: url(<%= post.image %>);"></div>
                    <div class="post-category text-center"><%= post.category.toUpperCase() %></div>
                    <div class="post-title text-center">
                        <h5 class="p-3"><%= post.title %></h5>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') -%>