<%- include('../partials/header') -%>

<div class="container">
    <div class="row">
        <% posts.forEach((post) => { %>
            <a href="/posts/<%= post.category %>/<%= post._id %>">
                <div class="post-container mt-4 mr-3 pt-2">
                    <div class="post-image mt-3" style="background-image: url(/<%= post.image %>);"></div>
                    <div class="post-category text-center"><%= post.category.toUpperCase() %></div>
                    <div class="post-title text-center">
                        <h5 class="p-3"><%= post.title %></h5>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') -%>